


.login-form{
  background-color: rgb(240, 224, 206);
  max-width: 600px;
  /* margin: 0; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.websitelogo{
  max-height: 90px;
  scale: 0.4;
}

.sidebar{
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: beige;
  height: 100%;
}
.user-container {
  /* background-color: orange; */
  width: 200px;
  aspect-ratio: 6/3;
  display: flex;
  flex-direction: row;
  background-color: rgb(238, 215, 184);
}


.user-profilePic {
  /* width: 100%; */
  height: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  color: brown;
  /* margin: 0; */
}

.user-question {
  margin-top: 0;
}

.user-place {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.user-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.adduser{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  max-width: 650px;
  margin: 0 auto;
  /* align-items: center; */
}

.user-contents{
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-left: 5px;
}

/* company css */
.companies-list-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 100%;
}

.company-container{
  display:flex;
  flex-direction: row;
  gap: 10px;
  min-width: 100%;
  background-color: rgb(252, 246, 243);
  padding: 10px;
}

.company-logo{
  aspect-ratio: 1/1;
  max-width: 80px;
  object-fit: cover;
  font-weight: bold;
}
.company-location{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.company-name{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.company-contents{
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.company-vacancies , .company-vacancynumber{
  color: rgb(230, 166, 123);
}
.title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
}
































/* .App {
  text-align: center;
}

.phone-picture {
  height: 540px;
  width: 750px;
  object-fit: contain;
}

.phone-container {
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;

 
}

.phone-company {

  font-size: 32px;
  color: grey;

  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.phone-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
} */
